sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .layer { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	border-style: none;
	height: 45em;
	width: 60em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_02 {
	position: relative;
}
.stl_03 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_04 {
	position: relative;
	width: 60em;
}
.stl_05 {
	height: 4.5em;
}
.ie .stl_05 {
	height: 45em;
}
@font-face {
	font-family:"EPPSSP+Britannic Bold";
	src:url("c68cc67d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_06 {
	color: #000000;
	font-size: 3.332em;
	font-family: "EPPSSP+Britannic Bold";
}
.stl_07 {
	line-height: 1.10791em;
}
.stl_08 {
	letter-spacing: 0em;
}

.ie .stl_08 {
	letter-spacing: 0px;
}
@font-face {
	src:url("e44716d3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_09 {
	color: #000000;
	font-size: 2em;
}
.stl_10 {
	line-height: 1em;
}
@font-face {
	font-family:"EWNLHT+Times New Roman";
	src:url("74137672-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	color: #000000;
	font-size: 1.332em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_12 {
	line-height: 1.107422em;
}
.stl_13 {
	letter-spacing: 0.0035em;
}

.ie .stl_13 {
	letter-spacing: 0.074px;
}
@font-face {
	src:url("31a6828e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	color: #000000;
	font-size: 1.332em;
}
.stl_15 {
	letter-spacing: 0.0032em;
}

.ie .stl_15 {
	letter-spacing: 0.0682px;
}
.stl_16 {
	color: #000000;
	font-size: 1.17em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_17 {
	letter-spacing: 0.003em;
}

.ie .stl_17 {
	letter-spacing: 0.0554px;
}
.stl_18 {
	color: #000000;
	font-size: 1.17em;
}
.stl_19 {
	letter-spacing: 0.0004em;
}

.ie .stl_19 {
	letter-spacing: 0.0076px;
}
.stl_20 {
	letter-spacing: 0.004em;
}

.ie .stl_20 {
	letter-spacing: 0.0749px;
}
.stl_21 {
	letter-spacing: -0.0002em;
}

.ie .stl_21 {
	letter-spacing: -0.0031px;
}
.stl_22 {
	color: #000000;
	font-size: 1.172em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_23 {
	letter-spacing: -0.0004em;
}

.ie .stl_23 {
	letter-spacing: -0.007px;
}
.stl_24 {
	color: #000000;
	font-size: 1.172em;
}
.stl_25 {
	letter-spacing: -0.0007em;
}

.ie .stl_25 {
	letter-spacing: -0.0128px;
}
.stl_26 {
	color: #000000;
	font-size: 1.33em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_27 {
	letter-spacing: 0.0044em;
}

.ie .stl_27 {
	letter-spacing: 0.0942px;
}
.stl_28 {
	color: #000000;
	font-size: 1.33em;
}
.stl_29 {
	letter-spacing: 0.0023em;
}

.ie .stl_29 {
	letter-spacing: 0.0497px;
}
.stl_30 {
	letter-spacing: 0.0043em;
}

.ie .stl_30 {
	letter-spacing: 0.0807px;
}
.stl_31 {
	letter-spacing: 0.0008em;
}

.ie .stl_31 {
	letter-spacing: 0.0146px;
}
.stl_32 {
	letter-spacing: 0.0009em;
}

.ie .stl_32 {
	letter-spacing: 0.0164px;
}
.stl_33 {
	letter-spacing: 0.0045em;
}

.ie .stl_33 {
	letter-spacing: 0.096px;
}
.stl_34 {
	letter-spacing: 0.0005em;
}

.ie .stl_34 {
	letter-spacing: 0.0088px;
}
@font-face {
	font-family:"HFTKGK+Calibri";
	src:url("0e51ef72-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	color: #000000;
	font-size: 1em;
	font-family: "HFTKGK+Calibri";
}
.stl_36 {
	line-height: 1.220703em;
}
@font-face {
	font-family:"TCLUND+·s²Ó©úÅé";
	src:url("1a8768a1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	color: #000000;
	font-size: 1em;
}
.stl_38 {
	color: #404040;
	font-size: 1.5em;
	font-family: "EPPSSP+Britannic Bold";
}
.stl_39 {
	letter-spacing: -0.0001em;
}

.ie .stl_39 {
	letter-spacing: -0.0018px;
}
.stl_40 {
	color: #404040;
	font-size: 1.5em;
}
@font-face {
	font-family:"MLFRGW+µØ±d¤¤¶êÅé";
	src:url("f6390c74-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	color: #984807;
	font-size: 1.33em;
}
.stl_42 {
	letter-spacing: 0.0033em;
}

.ie .stl_42 {
	letter-spacing: 0.0694px;
}
.stl_43 {
	letter-spacing: 0.0206em;
}

.ie .stl_43 {
	letter-spacing: 0.4389px;
}
.stl_44 {
	color: #000000;
	font-size: 1.33em;
}
.stl_45 {
	color: #984807;
	font-size: 1.33em;
}
@font-face {
	font-family:"DMIIKU+Times New Roman,Bold";
	src:url("9a350e00-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	color: #984807;
	font-size: 1.33em;
	font-family: "DMIIKU+Times New Roman,Bold";
}
.stl_47 {
	letter-spacing: 0.0263em;
}

.ie .stl_47 {
	letter-spacing: 0.5592px;
}
.stl_48 {
	letter-spacing: 0.0245em;
}

.ie .stl_48 {
	letter-spacing: 0.5209px;
}
.stl_49 {
	letter-spacing: 0.0265em;
}

.ie .stl_49 {
	letter-spacing: 0.5629px;
}
.stl_50 {
	letter-spacing: 0.012em;
}

.ie .stl_50 {
	letter-spacing: 0.256px;
}
.stl_51 {
	letter-spacing: 0.0021em;
}

.ie .stl_51 {
	letter-spacing: 0.0438px;
}
.stl_52 {
	letter-spacing: 0.0056em;
}

.ie .stl_52 {
	letter-spacing: 0.1185px;
}
.stl_53 {
	letter-spacing: 0.0235em;
}

.ie .stl_53 {
	letter-spacing: 0.5px;
}
.stl_54 {
	color: #4F6228;
	font-size: 1.33em;
}
.stl_55 {
	letter-spacing: 0.0218em;
}

.ie .stl_55 {
	letter-spacing: 0.4638px;
}
.stl_56 {
	letter-spacing: 0.0133em;
}

.ie .stl_56 {
	letter-spacing: 0.2821px;
}
.stl_57 {
	letter-spacing: 0.0034em;
}

.ie .stl_57 {
	letter-spacing: 0.0732px;
}
.stl_58 {
	color: #984807;
	font-size: 1.332em;
	font-family: "DMIIKU+Times New Roman,Bold";
}
@font-face {
	font-family:"KTJOCF+Wingdings";
	src:url("8dc21864-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_59 {
	color: #000000;
	font-size: 1.5em;
	font-family: "KTJOCF+Wingdings";
}
.stl_60 {
	line-height: 1.109863em;
}
.stl_61 {
	letter-spacing: 0.0387em;
}

.ie .stl_61 {
	letter-spacing: 0.928px;
}
.stl_62 {
	letter-spacing: 0.0496em;
}

.ie .stl_62 {
	letter-spacing: 0.928px;
}
.stl_63 {
	color: #404040;
	font-size: 1.33em;
	font-family: "EPPSSP+Britannic Bold";
}
.stl_64 {
	letter-spacing: 0.0031em;
}

.ie .stl_64 {
	letter-spacing: 0.0663px;
}
.stl_65 {
	color: #404040;
	font-size: 1.33em;
}
.stl_66 {
	color: #4F6228;
	font-size: 1.332em;
}
.stl_67 {
	letter-spacing: 0.002em;
}

.ie .stl_67 {
	letter-spacing: 0.0427px;
}
.stl_68 {
	letter-spacing: 0.0042em;
}

.ie .stl_68 {
	letter-spacing: 0.0892px;
}
@font-face {
	font-family:"WASMDC+Symbol";
	src:url("2149c480-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_69 {
	color: #000000;
	font-size: 1.33em;
	font-family: "WASMDC+Symbol";
}
.stl_70 {
	line-height: 1.225098em;
}
.stl_71 {
	letter-spacing: 0.0038em;
}

.ie .stl_71 {
	letter-spacing: 0.0809px;
}
.stl_72 {
	color: #000000;
	font-size: 1.332em;
	font-family: "WASMDC+Symbol";
}
.stl_73 {
	letter-spacing: 0.0049em;
}

.ie .stl_73 {
	letter-spacing: 0.104px;
}
.stl_74 {
	letter-spacing: 0.0028em;
}

.ie .stl_74 {
	letter-spacing: 0.0585px;
}
.stl_75 {
	letter-spacing: 0.0027em;
}

.ie .stl_75 {
	letter-spacing: 0.0574px;
}
.stl_76 {
	color: #4F6228;
	font-size: 1.33em;
	font-family: "DMIIKU+Times New Roman,Bold";
}
.stl_77 {
	color: #FFFFFF;
	font-size: 1.33em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_78 {
	letter-spacing: 0.0012em;
}

.ie .stl_78 {
	letter-spacing: 0.0255px;
}
@font-face {
	font-family:"WJKUFD+Times New Roman,Italic";
	src:url("ae140555-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_79 {
	color: #FFFFFF;
	font-size: 1.33em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_80 {
	color: #FFFFFF;
	font-size: 1.33em;
	font-family: "WASMDC+Symbol";
}
.stl_81 {
	letter-spacing: 0.0887em;
}

.ie .stl_81 {
	letter-spacing: 1.888px;
}
.stl_82 {
	color: #000000;
	font-size: 1.33em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
@font-face {
	font-family:"SHCMGH+Times New Roman";
	src:url("3c978750-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_83 {
	color: #000000;
	font-size: 1.33em;
	font-family: "SHCMGH+Times New Roman";
}
.stl_84 {
	letter-spacing: -0.4721em;
}

.ie .stl_84 {
	letter-spacing: -10.0467px;
}
.stl_85 {
	color: #000000;
	font-size: 1.332em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_86 {
	letter-spacing: 0.0015em;
}

.ie .stl_86 {
	letter-spacing: 0.0327px;
}
.stl_87 {
	letter-spacing: 0.0014em;
}

.ie .stl_87 {
	letter-spacing: 0.0289px;
}
.stl_88 {
	letter-spacing: 0.0024em;
}

.ie .stl_88 {
	letter-spacing: 0.0519px;
}
.stl_89 {
	letter-spacing: 0.0329em;
}

.ie .stl_89 {
	letter-spacing: 0.6992px;
}
.stl_90 {
	letter-spacing: -0.0013em;
}

.ie .stl_90 {
	letter-spacing: -0.0284px;
}
.stl_91 {
	letter-spacing: 0.0007em;
}

.ie .stl_91 {
	letter-spacing: 0.0147px;
}
.stl_92 {
	letter-spacing: 0.0025em;
}

.ie .stl_92 {
	letter-spacing: 0.0529px;
}
.stl_93 {
	letter-spacing: 0.0041em;
}

.ie .stl_93 {
	letter-spacing: 0.0873px;
}
.stl_94 {
	color: #000000;
	font-size: 1.334899em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_95 {
	letter-spacing: -0.2448em;
}

.ie .stl_95 {
	letter-spacing: -5.2085px;
}
.stl_96 {
	color: #000000;
	font-size: 1.334602em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_97 {
	letter-spacing: -0.2439em;
}

.ie .stl_97 {
	letter-spacing: -5.2085px;
}
.stl_98 {
	letter-spacing: -0.0375em;
}

.ie .stl_98 {
	letter-spacing: -0.7975px;
}
.stl_99 {
	color: #000000;
	font-size: 1.334525em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_100 {
	letter-spacing: -0.0374em;
}

.ie .stl_100 {
	letter-spacing: -0.7975px;
}
.stl_101 {
	color: #000000;
	font-size: 1.335625em;
	font-family: "WASMDC+Symbol";
}
.stl_102 {
	letter-spacing: -0.0373em;
}

.ie .stl_102 {
	letter-spacing: -0.7975px;
}
.stl_103 {
	color: #000000;
	font-size: 1.335625em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_104 {
	letter-spacing: 0.0305em;
}

.ie .stl_104 {
	letter-spacing: 0.6496px;
}
.stl_105 {
	letter-spacing: 0.0304em;
}

.ie .stl_105 {
	letter-spacing: 0.6496px;
}
.stl_106 {
	color: #000000;
	font-size: 1.335319em;
	font-family: "WASMDC+Symbol";
}
.stl_107 {
	color: #000000;
	font-size: 1.335319em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_108 {
	letter-spacing: 0.0624em;
}

.ie .stl_108 {
	letter-spacing: 1.334px;
}
.stl_109 {
	letter-spacing: 0.1338em;
}

.ie .stl_109 {
	letter-spacing: 2.8582px;
}
.stl_110 {
	letter-spacing: 0.1238em;
}

.ie .stl_110 {
	letter-spacing: 2.6461px;
}
.stl_111 {
	letter-spacing: -0.0032em;
}

.ie .stl_111 {
	letter-spacing: -0.0679px;
}
.stl_112 {
	letter-spacing: 0.005em;
}

.ie .stl_112 {
	letter-spacing: 0.1066px;
}
.stl_113 {
	letter-spacing: -0.0016em;
}

.ie .stl_113 {
	letter-spacing: -0.0335px;
}
.stl_114 {
	letter-spacing: 0.0037em;
}

.ie .stl_114 {
	letter-spacing: 0.0794px;
}
.stl_115 {
	color: #FFFFFF;
	font-size: 1.502em;
}
.stl_116 {
	letter-spacing: 0.0053em;
}

.ie .stl_116 {
	letter-spacing: 0.128px;
}
.stl_117 {
	color: #000000;
	font-size: 1.5em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_118 {
	letter-spacing: -0.0015em;
}

.ie .stl_118 {
	letter-spacing: -0.036px;
}
.stl_119 {
	letter-spacing: -0.0048em;
}

.ie .stl_119 {
	letter-spacing: -0.116px;
}
.stl_120 {
	letter-spacing: -0.0045em;
}

.ie .stl_120 {
	letter-spacing: -0.108px;
}
.stl_121 {
	color: #FFFFFF;
	font-size: 1.17em;
}
.stl_122 {
	color: #FF0000;
	font-size: 1.17em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_123 {
	letter-spacing: 0.0447em;
}

.ie .stl_123 {
	letter-spacing: 0.9519px;
}
.stl_124 {
	letter-spacing: 0.0395em;
}

.ie .stl_124 {
	letter-spacing: 0.8395px;
}
.stl_125 {
	letter-spacing: 0.0872em;
}

.ie .stl_125 {
	letter-spacing: 1.8547px;
}
.stl_126 {
	letter-spacing: 0.0747em;
}

.ie .stl_126 {
	letter-spacing: 1.5897px;
}
.stl_127 {
	letter-spacing: 0.0579em;
}

.ie .stl_127 {
	letter-spacing: 1.2311px;
}
.stl_128 {
	letter-spacing: 0.0576em;
}

.ie .stl_128 {
	letter-spacing: 1.2266px;
}
.stl_129 {
	color: #000000;
	font-size: 1.335463em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_130 {
	color: #000000;
	font-size: 1.335463em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_131 {
	color: #000000;
	font-size: 1.335463em;
	font-family: "WASMDC+Symbol";
}
.stl_132 {
	letter-spacing: 0.0013em;
}

.ie .stl_132 {
	letter-spacing: 0.0271px;
}
.stl_133 {
	color: #000000;
	font-size: 1.335776em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_134 {
	color: #000000;
	font-size: 1.335776em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_135 {
	color: #000000;
	font-size: 1.335776em;
	font-family: "WASMDC+Symbol";
}
.stl_136 {
	letter-spacing: -0.0008em;
}

.ie .stl_136 {
	letter-spacing: -0.018px;
}
.stl_137 {
	color: #000000;
	font-size: 1.33538em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_138 {
	color: #000000;
	font-size: 1.33538em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_139 {
	color: #000000;
	font-size: 1.33538em;
	font-family: "WASMDC+Symbol";
}
.stl_140 {
	color: #000000;
	font-size: 1.335644em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_141 {
	color: #000000;
	font-size: 1.335644em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_142 {
	color: #000000;
	font-size: 1.335644em;
	font-family: "WASMDC+Symbol";
}
.stl_143 {
	letter-spacing: -0.0006em;
}

.ie .stl_143 {
	letter-spacing: -0.0132px;
}
.stl_144 {
	letter-spacing: 0.0191em;
}

.ie .stl_144 {
	letter-spacing: 0.4061px;
}
.stl_145 {
	letter-spacing: 0.0207em;
}

.ie .stl_145 {
	letter-spacing: 0.4395px;
}
.stl_146 {
	letter-spacing: 0.0291em;
}

.ie .stl_146 {
	letter-spacing: 0.6211px;
}
.stl_147 {
	color: #000000;
	font-size: 1.332em;
}
.stl_148 {
	color: #FFFFFF;
	font-size: 1.172em;
}
.stl_149 {
	letter-spacing: -0.0017em;
}

.ie .stl_149 {
	letter-spacing: -0.032px;
}
.stl_150 {
	color: #984807;
	font-size: 1.332em;
}
.stl_151 {
	letter-spacing: 0.018em;
}

.ie .stl_151 {
	letter-spacing: 0.3835px;
}
.stl_152 {
	letter-spacing: 0.0183em;
}

.ie .stl_152 {
	letter-spacing: 0.3884px;
}
.stl_153 {
	letter-spacing: 0.0336em;
}

.ie .stl_153 {
	letter-spacing: 0.7147px;
}
.stl_154 {
	letter-spacing: 0.2556em;
}

.ie .stl_154 {
	letter-spacing: 5.44px;
}
.stl_155 {
	letter-spacing: 0.0396em;
}

.ie .stl_155 {
	letter-spacing: 0.8419px;
}
.stl_156 {
	letter-spacing: 0.1277em;
}

.ie .stl_156 {
	letter-spacing: 2.7175px;
}
.stl_157 {
	letter-spacing: 0.0351em;
}

.ie .stl_157 {
	letter-spacing: 0.7463px;
}
.stl_158 {
	letter-spacing: 0.1264em;
}

.ie .stl_158 {
	letter-spacing: 2.6944px;
}
.stl_159 {
	letter-spacing: 0.0317em;
}

.ie .stl_159 {
	letter-spacing: 0.6741px;
}
.stl_160 {
	color: #000000;
	font-size: 1.335449em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_161 {
	color: #000000;
	font-size: 1.335449em;
	font-family: "WASMDC+Symbol";
}
.stl_162 {
	color: #000000;
	font-size: 1.335449em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_163 {
	color: #000000;
	font-size: 1.327556em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_164 {
	color: #000000;
	font-size: 1.327556em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_165 {
	color: #000000;
	font-size: 1.327556em;
	font-family: "WASMDC+Symbol";
}
.stl_166 {
	color: #000000;
	font-size: 0.766889em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_167 {
	letter-spacing: 0.0672em;
}

.ie .stl_167 {
	letter-spacing: 1.4283px;
}
.stl_168 {
	color: #000000;
	font-size: 1.335166em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_169 {
	color: #000000;
	font-size: 1.335166em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_170 {
	color: #000000;
	font-size: 1.335166em;
	font-family: "WASMDC+Symbol";
}
.stl_171 {
	color: #000000;
	font-size: 0.771933em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_172 {
	letter-spacing: 0.0617em;
}

.ie .stl_172 {
	letter-spacing: 1.318px;
}
.stl_173 {
	color: #000000;
	font-size: 1.335353em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_174 {
	color: #000000;
	font-size: 1.335353em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_175 {
	letter-spacing: 0.1533em;
}

.ie .stl_175 {
	letter-spacing: 3.2747px;
}
.stl_176 {
	color: #000000;
	font-size: 1.335353em;
	font-family: "WASMDC+Symbol";
}
.stl_177 {
	letter-spacing: 0.0565em;
}

.ie .stl_177 {
	letter-spacing: 1.2061px;
}
.stl_178 {
	color: #000000;
	font-size: 1.335274em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_179 {
	color: #000000;
	font-size: 1.335274em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_180 {
	letter-spacing: 0.1691em;
}

.ie .stl_180 {
	letter-spacing: 3.612px;
}
.stl_181 {
	color: #000000;
	font-size: 1.335274em;
	font-family: "WASMDC+Symbol";
}
.stl_182 {
	letter-spacing: 0.0725em;
}

.ie .stl_182 {
	letter-spacing: 1.5498px;
}
.stl_183 {
	letter-spacing: 0.1222em;
}

.ie .stl_183 {
	letter-spacing: 2.6106px;
}
.stl_184 {
	letter-spacing: 0.0528em;
}

.ie .stl_184 {
	letter-spacing: 1.123px;
}
.stl_185 {
	color: #000000;
	font-size: 1.335317em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_186 {
	color: #000000;
	font-size: 1.335317em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_187 {
	letter-spacing: 0.093em;
}

.ie .stl_187 {
	letter-spacing: 1.9873px;
}
.stl_188 {
	color: #000000;
	font-size: 1.335317em;
	font-family: "WASMDC+Symbol";
}
.stl_189 {
	letter-spacing: 0.1242em;
}

.ie .stl_189 {
	letter-spacing: 2.6538px;
}
.stl_190 {
	letter-spacing: 0.0318em;
}

.ie .stl_190 {
	letter-spacing: 0.6764px;
}
.stl_191 {
	letter-spacing: 0.0018em;
}

.ie .stl_191 {
	letter-spacing: 0.0388px;
}
.stl_192 {
	letter-spacing: 0.0399em;
}

.ie .stl_192 {
	letter-spacing: 0.8483px;
}
.stl_193 {
	color: #000000;
	font-size: 1.335292em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_194 {
	letter-spacing: 0.0397em;
}

.ie .stl_194 {
	letter-spacing: 0.8483px;
}
.stl_195 {
	color: #000000;
	font-size: 1.335292em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_196 {
	color: #000000;
	font-size: 1.335292em;
	font-family: "WASMDC+Symbol";
}
.stl_197 {
	color: #000000;
	font-size: 1.335517em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_198 {
	color: #000000;
	font-size: 1.335517em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_199 {
	color: #000000;
	font-size: 1.335517em;
	font-family: "WASMDC+Symbol";
}
.stl_200 {
	letter-spacing: 0.0105em;
}

.ie .stl_200 {
	letter-spacing: 0.2227px;
}
.stl_201 {
	letter-spacing: 0.0178em;
}

.ie .stl_201 {
	letter-spacing: 0.3793px;
}
.stl_202 {
	letter-spacing: 0.0029em;
}

.ie .stl_202 {
	letter-spacing: 0.0616px;
}
.stl_203 {
	letter-spacing: 0.0079em;
}

.ie .stl_203 {
	letter-spacing: 0.168px;
}
.stl_204 {
	letter-spacing: 0.016em;
}

.ie .stl_204 {
	letter-spacing: 0.34px;
}
.stl_205 {
	letter-spacing: 0.0036em;
}

.ie .stl_205 {
	letter-spacing: 0.077px;
}
.stl_206 {
	letter-spacing: 0.0075em;
}

.ie .stl_206 {
	letter-spacing: 0.16px;
}
.stl_207 {
	letter-spacing: 0.0236em;
}

.ie .stl_207 {
	letter-spacing: 0.5022px;
}
.stl_208 {
	color: #000000;
	font-size: 1.335536em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_209 {
	color: #000000;
	font-size: 1.335536em;
	font-family: "WASMDC+Symbol";
}
.stl_210 {
	color: #000000;
	font-size: 1.335536em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_211 {
	letter-spacing: 0.0039em;
}

.ie .stl_211 {
	letter-spacing: 0.0839px;
}
.stl_212 {
	letter-spacing: 0.0459em;
}

.ie .stl_212 {
	letter-spacing: 0.9778px;
}
.stl_213 {
	color: #000000;
	font-size: 1.335134em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_214 {
	color: #000000;
	font-size: 1.335134em;
	font-family: "WASMDC+Symbol";
}
.stl_215 {
	color: #000000;
	font-size: 1.335134em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_216 {
	letter-spacing: 0.0228em;
}

.ie .stl_216 {
	letter-spacing: 0.4879px;
}
.stl_217 {
	letter-spacing: 0.0408em;
}

.ie .stl_217 {
	letter-spacing: 0.8714px;
}
.stl_218 {
	letter-spacing: 0.0022em;
}

.ie .stl_218 {
	letter-spacing: 0.0459px;
}
.stl_219 {
	letter-spacing: 0.0063em;
}

.ie .stl_219 {
	letter-spacing: 0.1333px;
}
.stl_220 {
	color: #000000;
	font-size: 1.335471em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_221 {
	letter-spacing: 0.0069em;
}

.ie .stl_221 {
	letter-spacing: 0.1479px;
}
.stl_222 {
	color: #000000;
	font-size: 1.335471em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_223 {
	color: #000000;
	font-size: 1.335471em;
	font-family: "WASMDC+Symbol";
}
.stl_224 {
	letter-spacing: 0.0011em;
}

.ie .stl_224 {
	letter-spacing: 0.0241px;
}
.stl_225 {
	letter-spacing: 0.0881em;
}

.ie .stl_225 {
	letter-spacing: 1.8755px;
}
.stl_226 {
	letter-spacing: 0.0059em;
}

.ie .stl_226 {
	letter-spacing: 0.1248px;
}
.stl_227 {
	color: #000000;
	font-size: 1.335574em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_228 {
	letter-spacing: 0.0253em;
}

.ie .stl_228 {
	letter-spacing: 0.5415px;
}
.stl_229 {
	color: #000000;
	font-size: 1.335574em;
	font-family: "WASMDC+Symbol";
}
.stl_230 {
	color: #000000;
	font-size: 1.335574em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_231 {
	letter-spacing: 0.0201em;
}

.ie .stl_231 {
	letter-spacing: 0.4304px;
}
.stl_232 {
	letter-spacing: 0.0001em;
}

.ie .stl_232 {
	letter-spacing: 0.0015px;
}
.stl_233 {
	letter-spacing: 0.0306em;
}

.ie .stl_233 {
	letter-spacing: 0.6518px;
}
.stl_234 {
	letter-spacing: 0.0315em;
}

.ie .stl_234 {
	letter-spacing: 0.6696px;
}
.stl_235 {
	color: #000000;
	font-size: 1.33549em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_236 {
	color: #000000;
	font-size: 1.33549em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_237 {
	letter-spacing: 0.0548em;
}

.ie .stl_237 {
	letter-spacing: 1.1713px;
}
.stl_238 {
	color: #000000;
	font-size: 1.33549em;
	font-family: "WASMDC+Symbol";
}
.stl_239 {
	letter-spacing: 0.0264em;
}

.ie .stl_239 {
	letter-spacing: 0.5632px;
}
.stl_240 {
	letter-spacing: 0.0615em;
}

.ie .stl_240 {
	letter-spacing: 1.3138px;
}
.stl_241 {
	letter-spacing: 0.0078em;
}

.ie .stl_241 {
	letter-spacing: 0.1667px;
}
.stl_242 {
	letter-spacing: 0.0307em;
}

.ie .stl_242 {
	letter-spacing: 0.6527px;
}
.stl_243 {
	letter-spacing: 0.0326em;
}

.ie .stl_243 {
	letter-spacing: 0.6962px;
}
.stl_244 {
	letter-spacing: 0.0068em;
}

.ie .stl_244 {
	letter-spacing: 0.1439px;
}
.stl_245 {
	letter-spacing: 0.0002em;
}

.ie .stl_245 {
	letter-spacing: 0.0038px;
}
.stl_246 {
	letter-spacing: 0.0154em;
}

.ie .stl_246 {
	letter-spacing: 0.328px;
}
@font-face {
	font-family:"PVSWAJ+Times New Roman,BoldItalic";
	src:url("f93af486-0003-0000-0000-000000000000.woff") format("woff");
}
.stl_247 {
	color: #4F6228;
	font-size: 1.33em;
	font-family: "PVSWAJ+Times New Roman,BoldItalic";
}
.stl_248 {
	letter-spacing: 0.0269em;
}

.ie .stl_248 {
	letter-spacing: 0.5722px;
}
.stl_249 {
	letter-spacing: 0.0256em;
}

.ie .stl_249 {
	letter-spacing: 0.5458px;
}
.stl_250 {
	letter-spacing: -0.0019em;
}

.ie .stl_250 {
	letter-spacing: -0.0411px;
}
.stl_251 {
	letter-spacing: 0.0584em;
}

.ie .stl_251 {
	letter-spacing: 1.2441px;
}
.stl_252 {
	letter-spacing: 0.0497em;
}

.ie .stl_252 {
	letter-spacing: 1.0568px;
}
.stl_253 {
	color: #4F6228;
	font-size: 1.33em;
}
.stl_254 {
	letter-spacing: 0.0147em;
}

.ie .stl_254 {
	letter-spacing: 0.3133px;
}
.stl_255 {
	letter-spacing: 0.0445em;
}

.ie .stl_255 {
	letter-spacing: 0.9476px;
}
.stl_256 {
	color: #000000;
	font-size: 1.335352em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_257 {
	letter-spacing: -0.0164em;
}

.ie .stl_257 {
	letter-spacing: -0.3504px;
}
.stl_258 {
	color: #000000;
	font-size: 1.335352em;
	font-family: "WASMDC+Symbol";
}
.stl_259 {
	color: #000000;
	font-size: 1.335352em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_260 {
	color: #000000;
	font-size: 1.335603em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_261 {
	letter-spacing: 0.1095em;
}

.ie .stl_261 {
	letter-spacing: 2.3401px;
}
.stl_262 {
	color: #000000;
	font-size: 1.335603em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_263 {
	color: #000000;
	font-size: 1.335603em;
	font-family: "WASMDC+Symbol";
}
.stl_264 {
	letter-spacing: 0.017em;
}

.ie .stl_264 {
	letter-spacing: 0.3635px;
}
.stl_265 {
	color: #000000;
	font-size: 1.335708em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_266 {
	letter-spacing: -0.0321em;
}

.ie .stl_266 {
	letter-spacing: -0.6864px;
}
.stl_267 {
	color: #000000;
	font-size: 1.335708em;
	font-family: "WASMDC+Symbol";
}
.stl_268 {
	color: #000000;
	font-size: 1.335708em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_269 {
	letter-spacing: 0.036em;
}

.ie .stl_269 {
	letter-spacing: 0.7685px;
}
.stl_270 {
	letter-spacing: 0.0314em;
}

.ie .stl_270 {
	letter-spacing: 0.6705px;
}
.stl_271 {
	color: #000000;
	font-size: 1.334899em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_272 {
	color: #000000;
	font-size: 1.335552em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_273 {
	letter-spacing: -0.0163em;
}

.ie .stl_273 {
	letter-spacing: -0.3485px;
}
.stl_274 {
	color: #000000;
	font-size: 1.335552em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_275 {
	color: #000000;
	font-size: 1.335552em;
	font-family: "WASMDC+Symbol";
}
.stl_276 {
	letter-spacing: 0.1318em;
}

.ie .stl_276 {
	letter-spacing: 2.8165px;
}
.stl_277 {
	color: #000000;
	font-size: 1.335489em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_278 {
	color: #000000;
	font-size: 1.335489em;
	font-family: "WASMDC+Symbol";
}
.stl_279 {
	color: #000000;
	font-size: 1.335489em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_280 {
	letter-spacing: 0.0139em;
}

.ie .stl_280 {
	letter-spacing: 0.2976px;
}
.stl_281 {
	letter-spacing: 0.1511em;
}

.ie .stl_281 {
	letter-spacing: 3.2284px;
}
.stl_282 {
	letter-spacing: 0.1083em;
}

.ie .stl_282 {
	letter-spacing: 2.3146px;
}
.stl_283 {
	letter-spacing: 0.0003em;
}

.ie .stl_283 {
	letter-spacing: 0.0066px;
}
.stl_284 {
	letter-spacing: 0.0433em;
}

.ie .stl_284 {
	letter-spacing: 0.9222px;
}
.stl_285 {
	letter-spacing: -0.0012em;
}

.ie .stl_285 {
	letter-spacing: -0.0257px;
}
.stl_286 {
	letter-spacing: 0.0526em;
}

.ie .stl_286 {
	letter-spacing: 1.1188px;
}
.stl_287 {
	letter-spacing: 0.0587em;
}

.ie .stl_287 {
	letter-spacing: 1.2483px;
}
.stl_288 {
	letter-spacing: 0.052em;
}

.ie .stl_288 {
	letter-spacing: 1.1067px;
}
.stl_289 {
	letter-spacing: 0.0051em;
}

.ie .stl_289 {
	letter-spacing: 0.1083px;
}
.stl_290 {
	letter-spacing: 0.0375em;
}

.ie .stl_290 {
	letter-spacing: 0.7989px;
}
.stl_291 {
	letter-spacing: 0.0357em;
}

.ie .stl_291 {
	letter-spacing: 0.7602px;
}
.stl_292 {
	letter-spacing: 0.027em;
}

.ie .stl_292 {
	letter-spacing: 0.5742px;
}
.stl_293 {
	letter-spacing: -0.0038em;
}

.ie .stl_293 {
	letter-spacing: -0.08px;
}
.stl_294 {
	letter-spacing: 0.054em;
}

.ie .stl_294 {
	letter-spacing: 1.151px;
}
.stl_295 {
	letter-spacing: 0.028em;
}

.ie .stl_295 {
	letter-spacing: 0.5959px;
}
.stl_296 {
	letter-spacing: 0.0892em;
}

.ie .stl_296 {
	letter-spacing: 1.8979px;
}
.stl_297 {
	letter-spacing: -0.0338em;
}

.ie .stl_297 {
	letter-spacing: -0.72px;
}
.stl_298 {
	letter-spacing: 0.1023em;
}

.ie .stl_298 {
	letter-spacing: 2.1764px;
}
.stl_299 {
	letter-spacing: 0.0439em;
}

.ie .stl_299 {
	letter-spacing: 0.9333px;
}
.stl_300 {
	letter-spacing: 0.0514em;
}

.ie .stl_300 {
	letter-spacing: 1.0944px;
}
.stl_301 {
	letter-spacing: 0.0247em;
}

.ie .stl_301 {
	letter-spacing: 0.5261px;
}
.stl_302 {
	letter-spacing: 0.0335em;
}

.ie .stl_302 {
	letter-spacing: 0.7133px;
}
.stl_303 {
	letter-spacing: 0.0092em;
}

.ie .stl_303 {
	letter-spacing: 0.1959px;
}
.stl_304 {
	letter-spacing: 0.0103em;
}

.ie .stl_304 {
	letter-spacing: 0.2199px;
}
.stl_305 {
	letter-spacing: 0.0052em;
}

.ie .stl_305 {
	letter-spacing: 0.1099px;
}
.stl_306 {
	letter-spacing: 0.0058em;
}

.ie .stl_306 {
	letter-spacing: 0.1233px;
}
.stl_307 {
	letter-spacing: 0.0658em;
}

.ie .stl_307 {
	letter-spacing: 1.4px;
}
.stl_308 {
	letter-spacing: 0.0652em;
}

.ie .stl_308 {
	letter-spacing: 1.3867px;
}
.stl_309 {
	color: #000000;
	font-size: 1.334946em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_310 {
	letter-spacing: 0.0067em;
}

.ie .stl_310 {
	letter-spacing: 0.1422px;
}
.stl_311 {
	color: #000000;
	font-size: 1.334946em;
	font-family: "WASMDC+Symbol";
}
.stl_312 {
	color: #000000;
	font-size: 1.334916em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_313 {
	color: #000000;
	font-size: 1.334916em;
	font-family: "WASMDC+Symbol";
}
.stl_314 {
	letter-spacing: 0.0398em;
}

.ie .stl_314 {
	letter-spacing: 0.8477px;
}
.stl_315 {
	letter-spacing: 0.0521em;
}

.ie .stl_315 {
	letter-spacing: 1.109px;
}
.stl_316 {
	color: #000000;
	font-size: 1.335006em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_317 {
	letter-spacing: 0.006em;
}

.ie .stl_317 {
	letter-spacing: 0.1275px;
}
.stl_318 {
	color: #000000;
	font-size: 1.335006em;
	font-family: "WASMDC+Symbol";
}
.stl_319 {
	color: #000000;
	font-size: 1.33581em;
	font-family: "WASMDC+Symbol";
}
.stl_320 {
	color: #000000;
	font-size: 1.33581em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_321 {
	color: #000000;
	font-size: 1.33585em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_322 {
	color: #000000;
	font-size: 1.33585em;
	font-family: "WASMDC+Symbol";
}
.stl_323 {
	letter-spacing: 0.0112em;
}

.ie .stl_323 {
	letter-spacing: 0.2384px;
}
.stl_324 {
	letter-spacing: 0.0244em;
}

.ie .stl_324 {
	letter-spacing: 0.5196px;
}
.stl_325 {
	letter-spacing: 0.0064em;
}

.ie .stl_325 {
	letter-spacing: 0.136px;
}
.stl_326 {
	letter-spacing: 0.0268em;
}

.ie .stl_326 {
	letter-spacing: 0.5718px;
}
.stl_327 {
	color: #000000;
	font-size: 1.336105em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_328 {
	color: #000000;
	font-size: 1.336105em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_329 {
	letter-spacing: 0.0924em;
}

.ie .stl_329 {
	letter-spacing: 1.9744px;
}
.stl_330 {
	color: #000000;
	font-size: 1.336105em;
	font-family: "WASMDC+Symbol";
}
.stl_331 {
	letter-spacing: 0.0456em;
}

.ie .stl_331 {
	letter-spacing: 0.9756px;
}
.stl_332 {
	letter-spacing: 0.0278em;
}

.ie .stl_332 {
	letter-spacing: 0.5922px;
}
.stl_333 {
	letter-spacing: 0.0182em;
}

.ie .stl_333 {
	letter-spacing: 0.3883px;
}
.stl_334 {
	letter-spacing: 0.0123em;
}

.ie .stl_334 {
	letter-spacing: 0.261px;
}
.stl_335 {
	letter-spacing: 0.1041em;
}

.ie .stl_335 {
	letter-spacing: 2.216px;
}
.stl_336 {
	letter-spacing: 0.0168em;
}

.ie .stl_336 {
	letter-spacing: 0.357px;
}
.stl_337 {
	color: #000000;
	font-size: 1.335078em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_338 {
	letter-spacing: 0.0535em;
}

.ie .stl_338 {
	letter-spacing: 1.1437px;
}
.stl_339 {
	color: #000000;
	font-size: 1.335078em;
	font-family: "WJKUFD+Times New Roman,Italic";
}
.stl_340 {
	color: #000000;
	font-size: 1.335078em;
	font-family: "WASMDC+Symbol";
}
.stl_341 {
	letter-spacing: 0.0097em;
}

.ie .stl_341 {
	letter-spacing: 0.2064px;
}
.stl_342 {
	letter-spacing: 0.032em;
}

.ie .stl_342 {
	letter-spacing: 0.6804px;
}
.stl_343 {
	color: #984807;
	font-size: 1.33em;
	font-family: "PVSWAJ+Times New Roman,BoldItalic";
}
.stl_344 {
	letter-spacing: 0.0065em;
}

.ie .stl_344 {
	letter-spacing: 0.1387px;
}
.stl_345 {
	letter-spacing: 0.0288em;
}

.ie .stl_345 {
	letter-spacing: 0.5385px;
}
.stl_346 {
	letter-spacing: 0.0118em;
}

.ie .stl_346 {
	letter-spacing: 0.2516px;
}
.stl_347 {
	letter-spacing: 0.0019em;
}

.ie .stl_347 {
	letter-spacing: 0.0412px;
}
.stl_348 {
	letter-spacing: 0.0202em;
}

.ie .stl_348 {
	letter-spacing: 0.4302px;
}
.stl_349 {
	letter-spacing: 0.0026em;
}

.ie .stl_349 {
	letter-spacing: 0.0556px;
}
.stl_350 {
	letter-spacing: 0.0057em;
}

.ie .stl_350 {
	letter-spacing: 0.1208px;
}
.stl_351 {
	letter-spacing: 0.0017em;
}

.ie .stl_351 {
	letter-spacing: 0.0365px;
}
.stl_352 {
	letter-spacing: 0.0071em;
}

.ie .stl_352 {
	letter-spacing: 0.1518px;
}
.stl_353 {
	color: #000000;
	font-size: 0.89em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_354 {
	letter-spacing: 0.0501em;
}

.ie .stl_354 {
	letter-spacing: 1.0654px;
}
.stl_355 {
	color: #000000;
	font-size: 1.502em;
	font-family: "HFTKGK+Calibri";
}
.stl_356 {
	color: #000000;
	font-size: 1.5em;
	font-family: "HFTKGK+Calibri";
}
.stl_357 {
	color: #254061;
	font-size: 1.502em;
}
@font-face {
	font-family:"HWHCST+Arial Narrow";
	src:url("ea7796c4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_358 {
	color: #404040;
	font-size: 1.002em;
	font-family: "HWHCST+Arial Narrow";
}
.stl_359 {
	line-height: 1.132324em;
}
.stl_360 {
	color: #404040;
	font-size: 1em;
	font-family: "HWHCST+Arial Narrow";
}
.stl_361 {
	letter-spacing: 0.0661em;
}

.ie .stl_361 {
	letter-spacing: 1.4067px;
}
.stl_362 {
	color: #000000;
	font-size: 1.333211em;
	font-family: "EWNLHT+Times New Roman";
}
.stl_363 {
	letter-spacing: 0.0659em;
}

.ie .stl_363 {
	letter-spacing: 1.4067px;
}
.stl_364 {
	letter-spacing: 0.0663em;
}

.ie .stl_364 {
	letter-spacing: 1.41px;
}
.stl_365 {
	letter-spacing: 0.0436em;
}

.ie .stl_365 {
	letter-spacing: 0.9271px;
}
.stl_366 {
	letter-spacing: 0.0094em;
}

.ie .stl_366 {
	letter-spacing: 0.201px;
}
.stl_367 {
	letter-spacing: 0.0114em;
}

.ie .stl_367 {
	letter-spacing: 0.242px;
}
.stl_368 {
	letter-spacing: 0.0111em;
}

.ie .stl_368 {
	letter-spacing: 0.2368px;
}
.stl_369 {
	letter-spacing: 0.02em;
}

.ie .stl_369 {
	letter-spacing: 0.426px;
}
.stl_370 {
	letter-spacing: 0.0119em;
}

.ie .stl_370 {
	letter-spacing: 0.253px;
}
.stl_371 {
	letter-spacing: 0.0132em;
}

.ie .stl_371 {
	letter-spacing: 0.2819px;
}
.stl_372 {
	letter-spacing: 0.0198em;
}

.ie .stl_372 {
	letter-spacing: 0.2819px;
}
.stl_373 {
	letter-spacing: 0.0128em;
}

.ie .stl_373 {
	letter-spacing: 0.2727px;
}
.stl_374 {
	letter-spacing: 0.0192em;
}

.ie .stl_374 {
	letter-spacing: 0.2727px;
}
.stl_375 {
	letter-spacing: 0.0106em;
}

.ie .stl_375 {
	letter-spacing: 0.2253px;
}
.stl_376 {
	letter-spacing: -0.0923em;
}

.ie .stl_376 {
	letter-spacing: -1.9652px;
}
@font-face {
	font-family:"LFHEMD+Cambria Math";
	src:url("b5ea7042-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_377 {
	color: #000000;
	font-size: 1.33em;
	font-family: "LFHEMD+Cambria Math";
}
.stl_378 {
	line-height: 1.172363em;
}
.stl_379 {
	letter-spacing: 0.0267em;
}

.ie .stl_379 {
	letter-spacing: 0.5683px;
}
.stl_380 {
	letter-spacing: 0.0109em;
}

.ie .stl_380 {
	letter-spacing: 0.2323px;
}
.stl_381 {
	letter-spacing: 0.0121em;
}

.ie .stl_381 {
	letter-spacing: 0.257px;
}
.stl_382 {
	letter-spacing: 0.014em;
}

.ie .stl_382 {
	letter-spacing: 0.2988px;
}
.stl_383 {
	letter-spacing: 0.0093em;
}

.ie .stl_383 {
	letter-spacing: 0.1969px;
}
.stl_384 {
	letter-spacing: 0.0537em;
}

.ie .stl_384 {
	letter-spacing: 1.1427px;
}
.stl_385 {
	letter-spacing: 0.0073em;
}

.ie .stl_385 {
	letter-spacing: 0.1547px;
}
.stl_386 {
	letter-spacing: 0.0048em;
}

.ie .stl_386 {
	letter-spacing: 0.1025px;
}
.stl_387 {
	letter-spacing: 0.0054em;
}

.ie .stl_387 {
	letter-spacing: 0.1145px;
}
.stl_388 {
	letter-spacing: 0.001em;
}

.ie .stl_388 {
	letter-spacing: 0.022px;
}
.stl_389 {
	letter-spacing: -0.0031em;
}

.ie .stl_389 {
	letter-spacing: -0.0668px;
}
.stl_390 {
	letter-spacing: 0.0388em;
}

.ie .stl_390 {
	letter-spacing: 0.8266px;
}
.stl_391 {
	letter-spacing: -0.003em;
}

.ie .stl_391 {
	letter-spacing: -0.0633px;
}
.stl_392 {
	letter-spacing: -0.0028em;
}

.ie .stl_392 {
	letter-spacing: -0.0593px;
}
.stl_393 {
	letter-spacing: 0.0238em;
}

.ie .stl_393 {
	letter-spacing: 0.5067px;
}
.stl_394 {
	letter-spacing: 0.0298em;
}

.ie .stl_394 {
	letter-spacing: 0.634px;
}
.stl_395 {
	letter-spacing: 0.0367em;
}

.ie .stl_395 {
	letter-spacing: 0.7819px;
}
.stl_396 {
	letter-spacing: -0.0022em;
}

.ie .stl_396 {
	letter-spacing: -0.0464px;
}
.stl_397 {
	letter-spacing: 0.0222em;
}

.ie .stl_397 {
	letter-spacing: 0.4721px;
}
.stl_398 {
	letter-spacing: -0.0756em;
}

.ie .stl_398 {
	letter-spacing: -4.0311px;
}
.stl_399 {
	color: #000000;
	font-size: 2em;
	font-family: "WASMDC+Symbol";
}
.stl_400 {
	letter-spacing: -0.126em;
}

.ie .stl_400 {
	letter-spacing: -4.0311px;
}
.stl_401 {
	letter-spacing: -0.1894em;
}

.ie .stl_401 {
	letter-spacing: -4.0311px;
}
.stl_402 {
	color: #000000;
	font-size: 1.33em;
	font-family: "KTJOCF+Wingdings";
}
.stl_403 {
	color: #000000;
	font-size: 1.332em;
	font-family: "KTJOCF+Wingdings";
}
.stl_404 {
	letter-spacing: 0.0186em;
}

.ie .stl_404 {
	letter-spacing: 0.3968px;
}
.stl_405 {
	letter-spacing: 0.0289em;
}

.ie .stl_405 {
	letter-spacing: 0.6156px;
}
